.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px; 
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    width: 100%; /* Full width */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.header h2 {
    margin: 0;
    font-size: 1.6rem; /* Slightly reduced font size */
    color: #333;
}

.header p {
    margin: 0;
    font-size: 0.9rem; /* Slightly reduced font size */
    color: #666;
}

.headerIcons {
    display: flex;
    align-items: center;
    gap: 10px; /* Reduced gap */
}

.headerIcon {
    font-size: 1.3rem; /* Slightly reduced icon size */
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.headerIcon:hover {
    color: #0056b3;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 8px; /* Minimal padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
    border: none;
    outline: none;
    margin-left: 5px; /* Reduced margin */
    font-size: 0.9rem; /* Slightly reduced font size */
    color: #333;
}

.searchInput::placeholder {
    color: #999;
}