.overview-container {
    padding: 20px;
    /* background-color:  #f8f6f6; */
    border-radius: 10px;
}

/* Header styling */
.overview-header {
    margin-bottom: 20px;
    text-align: center;
}

/* General section styling */
.overview-section {
    margin-bottom: 20px;
    display: flex;
}

/* Top section: Balance, Goals, Upcoming Bills */
.overview-top-section {
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    margin-bottom: 10px;
}

.overview-balance-container,
.overview-goals-container,
.overview-bills-container {
   
    flex: 0.1;
    margin: 0 5px; /* Decrease the margins to make the components more compact */
    background-color: #ffffff;
    border-radius: 10px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 30%; /* Ensure each section has a minimum width */
    height: 270px; /* Decrease the height of the components */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
    
}
.overview-balance-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top:10px;
    min-width: 320px;
    height: 270px;
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    border-top: 1px solid #e0e0e0;
}
.overview-goals-container:hover{
    /* transform: translateY(-10px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    
}

/* Balance container styling */
.overview-balance-container h1,
.overview-goals-container h1,
.overview-bills-container h1 {
    font-size:20px;
   
    color: #333;
    text-align: center;
   
}

.overview-goals-container {
    flex: 1;
    margin: 0px 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e0e0e0;
    padding: 10px;
    display:flex;
    height: 270px; /* Increase the height to accommodate the speedometer */
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Hide overflow */
}

.overview-card-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding-left:36%
}

.overview-dotsContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.overview-dot {
    height: 5px;
    width: 5px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.overview-dot.active {
    background-color: #007bff;
}

/* Middle section: Recent Transactions, Bar Graph, Expense Breakdown */
.overview-middle-section {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: flex-start;
}

.overview-recenttransactions-container {
    flex: 0.7; /* Make it wider */
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 370px; /* Increased height to make it taller */
    width:100px;
    overflow-y: auto; /* Allow scrolling if content overflows */

   
}
.overview-recenttransactions-container:hover{
    /* transform: translateY(-5px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}
    


.overview-graphs-container {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack Bar Graph and Expense Breakdown vertically */
}
.overview-bargraph-container:hover{
    /* transform: translateY(-5px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */

}

.overview-bargraph-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    height:370px;
}
.overview-expensebreakdown-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    /* margin-bottom: 20px; */
    height:420px;
}
.overview-expensebreakdown-container:hover {
    /* transform: translateY(-5px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}


.overview-bargraph-container h1,
.overview-expensebreakdown-container h1 {
    margin-top:10px;
    font-size: 20px;
    /* margin-bottom: 20px; */
    color: #333;
    text-align:center
}
.overview-track-meter {
    max-width: 100%; 
    max-height: 100%; 
    width: auto;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for the hover effect */
}



.overview-track-meter:hover {
    /* transform: translateY(-10px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}
.overview-bills-container:hover{
    /* transform: translateY(-10px); Move the component up by 10px */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect */

}

.overview-recenttransactions-container h1{
    font-size:20px
}
.track-meter,h1{
    margin-bottom:5px;
}